
{% extends './base.html' %}
{% load static %}
{% block title %} CaosNews | Noticias {% endblock %}

{% block body %}
   <!-- Noticias  -->
   <div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {% for n in noticia %}
   
                <div class="position-relative mb-3">
                    <img class="img-fluid w-100" src="{{n.img_hero.url}}" style="object-fit: cover;">
                    <div class="overlay position-relative bg-light">
                        <div class="mb-3">
                            <a href="">Deportes</a>
                            <span class="px-1">/</span>
                            <span>{{n.fecha_publicacion}}</span>
                        </div>
                        <div>
                            <h3 class="mb-3">{{n.titulo}}</h3>
                            <h5>{{n.bajada_titulo}}</h5>
                            <p>{{n.contenido}}</p>
                            <h4 class="mb-3">{{n.subtitulo}}</h4>
                            <img class="img-fluid w-50 float-left mr-4 mb-2" src="{{n.img_noticias.url}}">
                            <p>{{n.contenido2}}</p>
                            <h5 class="mb-3">{{n.subtitulo2}}</h5>
                            <img class="img-fluid w-50 float-right ml-4 mb-2" src="{{n.img_noticias2.url}}">
                            <p>{{n.contenido3}}</p>
                        </div>
                    </div>
                </div><br><br>
                {% endfor %}


            <!-- Comentarios -->
            <h3>Comentarios</h3>
         
           
            <div class="card mb-3" style="max-width: 740px;">
                {% for c in comentario%}
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{c.img.url}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{c.nombre}}</h5>
                            <p class="card-text">{{c.comentario}}</p>
                            <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}
            </div>
           

                <!-- Deja tu comentario -->
              
                <div class="bg-light mb-3" style="padding: 30px;">
                    <h3 class="mb-4">Deja tu comentario</h3>
                    <form>
                        <div class="form-group">
                            <label for="name">Nombre *</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Correo *</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="website">Asunto</label>
                            <input type="url" class="form-control" id="website">
                        </div>

                        <div class="form-group">
                            <label for="message">Mensaje *</label>
                            <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <br>
                        <div class="form-group mb-0">
                            <input type="submit" value="Deja tu comentario"
                                class="btn btn-primary font-weight-semi-bold py-2 px-3">
                        </div>
                    </form>
                </div>
             
                <!-- Comment Form End -->
            </div>

            <div class="col-lg-4 pt-3 pt-lg-0">
                <!-- Social Follow Start -->
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Seguidores</h3>
                    </div>
                    <div class="d-flex mb-3">
                        <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #39569E;">
                            <small class="fab fa-facebook-f mr-2"></small><small> 12,345 Fans</small>
                        </a>
                        <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #52AAF4;">
                            <small class="fab fa-twitter mr-2"></small><small> 12,345 Followers</small>
                        </a>
                    </div>
                    <div class="d-flex mb-3">
                        <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #0185AE;">
                            <small class="fab fa-linkedin-in mr-2"></small><small> 12,345 Connects</small>
                        </a>
                        <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #C8359D;">
                            <small class="fab fa-instagram mr-2"></small><small> 12,345 Followers</small>
                        </a>
                    </div>
                    <div class="d-flex mb-3">
                        <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #DC472E;">
                            <small class="fab fa-youtube mr-2"></small><small> 12,345 Subscribers</small>
                        </a>
                        <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #1AB7EA;">
                            <small class="fab fa-vimeo-v mr-2"></small><small> 12,345 Followers</small>
                        </a>
                    </div>
                </div>
                <!-- Social Follow End -->

                <!-- Newsletter Start -->
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Suscribete</h3>
                    </div>
                    <div class="bg-light text-center p-4 mb-3">
                        <p>Aliqu justo et labore at eirmod justo sea erat diam dolor diam vero kasd</p>
                        <div class="input-group" style="width: 100%;">
                            <input type="text" class="form-control form-control-lg" placeholder="Tu correo">
                            <div class="input-group-append">
                                <button class="btn btn-primary">Ingresa</button>
                            </div>
                        </div>
                        <small></small>
                    </div>
                </div>
                <!-- Newsletter End -->

                <!-- Ads Start -->
                <div class="mb-3 pb-3">
                    <a href=""><img class="img-fluid" src="" alt=""></a>
                </div>
                <!-- Ads End -->

                <!-- Popular News Start -->
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Lo mas visto</h3>
                    </div>
                    <div class="d-flex mb-3">
                        <img src="{% static 'img/asd.jpg' %}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">Tecnologia</a>
                                <span class="px-1">/</span>
                                <span>13 Abril, 2023</span>
                            </div>
                            <a class="h6 m-0" href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <img src="{% static 'img/asd.jpg' %}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">Tecnologia</a>
                                <span class="px-1">/</span>
                                <span>13 Abril, 2023</span>
                            </div>
                            <a class="h6 m-0" href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <img src="{% static 'img/asd.jpg' %}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">Technology</a>
                                <span class="px-1">/</span>
                                <span>13 Abril, 2023</span>
                            </div>
                            <a class="h6 m-0" href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <img src="{% static 'img/asd.jpg' %}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">Technology</a>
                                <span class="px-1">/</span>
                                <span>13 Abril, 2023</span>
                            </div>
                            <a class="h6 m-0" href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <img src="{% static 'img/asd.jpg' %}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">Tecnologia</a>
                                <span class="px-1">/</span>
                                <span>13 Abril, 2023</span>
                            </div>
                            <a class="h6 m-0" href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                    </div>
                </div>
                <!-- Popular News End -->

                <!-- Tags Start -->
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Categoria</h3>
                    </div>
                    <div class="d-flex flex-wrap m-n1">
                        <a href="" class="btn btn-sm btn-outline-secondary m-1">Politica</a>
                        <a href="" class="btn btn-sm btn-outline-secondary m-1">Economia</a>
                        <a href="not-1.html" class="btn btn-sm btn-outline-secondary m-1">Deportes</a>
                        <a href="" class="btn btn-sm btn-outline-secondary m-1">Salud</a>
                        <a href="" class="btn btn-sm btn-outline-secondary m-1">Educacion</a>
                        <a href="" class="btn btn-sm btn-outline-secondary m-1">Ciencia</a>
                        <a href="not-3.html" class="btn btn-sm btn-outline-secondary m-1">Tecnologia</a>
                        <a href="" class="btn btn-sm btn-outline-secondary m-1">Comida</a>
                        <a href="not-2.html" class="btn btn-sm btn-outline-secondary m-1">Entretenimiento</a>
                        <a href="" class="btn btn-sm btn-outline-secondary m-1">Viajes</a>
                    </div>
                </div>
                <!-- Tags End -->
            </div>
        </div>
    </div>
</div>
</div>
<!-- News With Sidebar End -->

{% endblock %}
